*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #706260;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff523b, #daf05d);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
  .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: rgb(175, 129, 129);
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }

.about-section{
    background-size: 55%;
    background-color: #af8f8a;
    overflow: hidden;
    padding: 100px 0;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #ff523b);
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }

.inner-container{
    width: 55%;
    float: right;
    background-color: #e07b6d;
    padding: 150px;
    border-radius: 40px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    padding: 0.4rem 1.2rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    text-decoration: none;
    color: #ff523b;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 5;
}
  
.skills:hover {
    background-color: transparent;
    color: #fff;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}